.EightBall {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 3em auto;
  color: white;
}

.EightBall-msg {
  font-size: 1.5em;
}